checkpoints/AEC_baseline/10.pth
Q_and_A/*
data_preparation/tensor_complex.py

data_preparation/Synthetic/TEST/echo_signal/*.wav
data_preparation/Synthetic/TEST/farend_speech/*.wav
data_preparation/Synthetic/TEST/nearend_mic_signal/*.wav
data_preparation/Synthetic/TEST/nearend_speech/*.wav

data_preparation/Synthetic/TRAIN/echo_signal/*.wav
data_preparation/Synthetic/TRAIN/farend_speech/*.wav
data_preparation/Synthetic/TRAIN/nearend_mic_signal/*.wav
data_preparation/Synthetic/TRAIN/nearend_speech/*.wav

data_preparation/Synthetic/VAL/echo_signal/*.wav
data_preparation/Synthetic/VAL/farend_speech/*.wav
data_preparation/Synthetic/VAL/nearend_mic_signal/*.wav
data_preparation/Synthetic/VAL/nearend_speech/*.wav
